{% extends "GeneralTemplate.html" %}
{% block head %}
    <link href="../static/css/calendar.min.css" rel="stylesheet"/>
    <script src="../static/js/calendar.min.js"></script>
    <script src="../static/js/highcharts.js"></script>
{% endblock %}
{% block title %}My Spending{% endblock %}
{% block body %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="ui container" style="padding-top: 8em;padding-bottom: 5%;">
        <h2 class="ui header">
            <i class="bi bi-credit-card"></i>
            <div class="content">
                My Spending
            </div>
        </h2>
        <div class="ui segment">
            <form class="ui large form" method="post">
                <div class="two fields">
                    <div class="field">
                        <label>Start Date</label>
                        <div class="ui calendar">
                                <span class="bi bi-calendar"></span>
                                <input name="start_date" placeholder="YYYY/MM/DD" type="text">
                        </div>
                    </div>
                    <div class="field">
                        <label>End Date</label>
                        <div class="ui calendar">
                                <i class="bi bi-calendar"></i>
                                <input name="end_date" placeholder="YYYY/MM/DD" type="text">
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit" style="float: right;">
                    Filter
                </button>
                <div style="clear: both"></div>
            </form>
        </div>
        {% if not error %}
            <div class="ui segment center aligned">
                <div class="ui statistic">
                    <div class="label">
                        total cost
                    </div>
                    <div class="value">
                        ${{ statistic }}
                    </div>
                </div>
            </div>
            <div class="ui segment">
                <div id="container" style="width: 70%; height: 400px; margin: 0 auto;"></div>
            </div>
        {% endif %}
        <div class="ui {% if not error %}hidden {% endif %}error message">
            {% if error is defined and error is not string %}
                <div class="header">{{ error[0] }}</div>
                <ul class="list">
                    {% for item in error[1:] %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <ul class="list">
                    <li>{{ error }}</li>
                </ul>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}
{% block script %}
    <script src="../static/js/calDo.js"></script>
    <script>
        var content = [];
        var httpRequest = new XMLHttpRequest();
        httpRequest.open('POST', '{{ url_for('get_all_cities_and_airports') }}', true);
        httpRequest.send();
        httpRequest.onreadystatechange = function () {
            if (httpRequest.readyState == 4 && httpRequest.status == 200) {
                var response = JSON.parse(httpRequest.responseText);
                for (var i = 0; i < response.length; i++) {
                    content.push({'title': response[i]});
                }
                $('.ui.search').search({source: content});
            }
        };
        $(document).ready(function () {
            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'My Spending'
                },
                subtitle: {
                    text: 'Customer: {{ session.get('email') }}'
                },
                xAxis: {
                    categories: {{ barchart_x | safe }}
                },
                yAxis: {
                    title: {
                        text: 'Money ($)'
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                series: [{
                    name: 'Spending',
                    data: {{ barchart_data | safe }}
                }]
            });
        });
    </script>
{% endblock %}

