{% extends "GeneralTemplate.html" %}
{% block head %}
    <link href="../static/css/calendar.min.css" rel="stylesheet"/>
    <script src="../static/js/calendar.min.js"></script>
{% endblock %}
{% block title %}Search Flight{% endblock %}
{% block body %}
    <div class="container" style="padding-left:15em;padding-top: 4em;padding-bottom: 5%;">
        <h2 class="ui header">
            <i class="{% if session.get('isLogin') %}bi bi-cart3{% else %}bi bi-search></i{% endif %}"></i>
            <div class="content">
                Search Flight
            </div>
        </h2>
        <div class="ui {% if not success %}hidden {% endif %}success message">
            <div class="header">Purchase Succeeded</div>
            View your flight here.<a href="{{ url_for('view_my_flight') }}"><u>View My Flight</u></a>
        </div>
        <div class="btn-group">
            <a class="btn btn-primary active" aria-current="page">Search By Location</a >
            <a class="btn btn-primary"  href="{{ url_for('search_flight_by_flight_num') }}">Search By Flight Number</a >
        </div>
        <div class="ui bottom attached segment">
            <form class="ui large form" method="post">
                <div class="fields">
                    <div class="four wide field">
                        <label>From</label>
                        <div class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
                            <span class="bi bi-geo-alt"></span>
                            <div class = "ui search">
                                    <input name="source" class="prompt" placeholder="City or Airport..." type="text"
                                       required>
                                <div class="results"></div>
                            </div>
                        </div>
                    </div>
                    <div class="four wide field">
                        <label>To</label>
                        <div class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
                            <span class="bi bi-geo-alt"></span>
                            <div class="ui search">
                                    <input name="destination" class="prompt" placeholder="City or Airport..." type="text"
                                       required>
                                <div class="results"></div>
                            </div>
                        </div>
                    </div>
                    <div class="four wide field">
                        <label>Date</label>
                        <div class="ui calendar">
                            <span class="bi bi-calendar-check"></span>
                                <input name="date" placeholder="YYYY/MM/DD" type="text" required>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit" style="float: right;">
                    Search
                </button>
                <div style="clear: both"></div>
            </form>
        </div>
        <form class="ui large form">
            {% if session.get('isLogin') and session.get('type')=='booking_agent' %}
                <div class="ui segment">
                    <div class="field">
                        <label>Customer Email</label>
                        <div class="ui search">
                                    <input name="customer_email" class="prompt" placeholder="" type="text"
                                           required>
                            <div class="results"></div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if data %}
                <div class="ui segment">
                    <table class="ui striped table">
                        <thead>
                        <tr>
                            {% for col in head %}
                                <th>{{ col }}</th>
                            {% endfor %}
                            <th class="right floating">Purchase</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in data %}
                            <tr>
                                {% for col in row[:-1] %}
                                    <td>{{ col }}</td>
                                {% endfor %}
                                {% if row[-1] %}
                                    <td class="right floating">
                                        <button class="ui primary button" type="submit"
                                                formaction="{{ row[-1] }}"
                                                formmethod="post">
                                            <i class="bi bi-cart-check"></i>
                                            Buy
                                        </button>
                                    </td>
                                {% else %}
                                    <td class="right floating"></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </form>
        <div class="ui {% if not error %}hidden {% endif %}error message">
            {% if error is defined and error is not string %}
                <div class="header">{{ error[0] }}</div>
                <ul class="list">
                    {% for item in error[1:] %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <ul class="list">
                    <li>{{ error }}</li>
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="../static/js/calDo.js"></script>
    <script>
        var httpRequest = new XMLHttpRequest();
        httpRequest.open('POST', '{{ url_for('get_all_cities_and_airports') }}', true);
        httpRequest.send();
        httpRequest.onreadystatechange = function () {
            if (httpRequest.readyState == 4 && httpRequest.status == 200) {
                var response = JSON.parse(httpRequest.responseText);
                var content = [];
                for (var i = 0; i < response.length; i++) {
                    content.push({'title': response[i]});
                }
                $('.ui.search:eq(0)').search({source: content});
                $('.ui.search:eq(1)').search({source: content});
            }
        };
        {% if session.get('isLogin') and session.get('type')=='booking_agent' %}
            var httpRequest2 = new XMLHttpRequest();
            httpRequest2.open('POST', '{{ url_for('get_all_customer_emails') }}', true);
            httpRequest2.send();
            httpRequest2.onreadystatechange = function () {
                if (httpRequest2.readyState == 4 && httpRequest2.status == 200) {
                    var response = JSON.parse(httpRequest2.responseText);
                    var content = [];
                    for (var i = 0; i < response.length; i++) {
                        content.push({'title': response[i]});
                    }
                    $('.ui.search:eq(2)').search({source: content});
                }
            };
        {% endif %}
    </script>
{% endblock %}
